@import "./components/BoardComponent/BoardComponent.css";
@import "./components/CellComponent/CellComponent.css";
@import "./components/TakenComponent/TakenComponent.css";

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #343D46;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
}

.restart, .pass {
  background-color: #0075ff;
  margin-right: 25px;

  height: 56px;
  border: 3px solid #0075ff;
  box-sizing: border-box;
  border-radius: 8px;

  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  text-decoration: none;
  color: #64c3e0;
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 10px;
}

.restart:hover, .pass:hover {
  border-color: #005ecc;
  background-color: #005ecc;
  box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  color: #fff;
}

.restart:active, .pass:active {
  box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
  border-color: #005ecc;
  background-color: #005ecc;
}

.secondPlay {
  background-color: #f56b6b;
  margin-right: 25px;

  height: 56px;
  border: 3px solid #f56b6baf;
  box-sizing: border-box;
  border-radius: 8px;

  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 10px;
}

.secondPlay:hover {
  border-color: #f56b6b;
  background-color: #f56b6b;
  box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  color: #fff;
}

.secondPlay:active {
  box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
  border-color: #f56b6b;
  background-color: #f56b6b;
}